AddDefaultCharset UTF-8

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.codezeus.com$ [NC]
RewriteRule ^(.*)$ http://codezeus.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
